SteamBot-Imported/gradle/wrapper/gradle-wrapper.jar
Samples/Potentiometer-PID/
SteamBot-Imported-2/
SteamBot-Imported/temp/
SteamBot-Imported2/
ProtoBot/RotateToAngle-Imported2/
LucidoBoard/VelocityClosedLoop/.gradle/6.0.1/
LucidoBoard/VelocityClosedLoop/.gradle/buildOutputCleanup/
LucidoBoard/VelocityClosedLoop/build/
ProtoBot/VelocityClosedLoop/.gradle/6.0.1/
ProtoBot/VelocityClosedLoop/.gradle/buildOutputCleanup/
ProtoBot/VelocityClosedLoop/build/
Renegade/Tests/VelocityClosedLoop/.gradle/6.0.1/
Renegade/Tests/VelocityClosedLoop/.gradle/buildOutputCleanup/
Renegade/Tests/VelocityClosedLoop/build/
Renegade/TeleopAndAuto/.gradle/6.0.1/
Renegade/TeleopAndAuto/.gradle/buildOutputCleanup/
Renegade/TeleopAndAuto/build/
ProtoBot/PositionClosedLoop/.gradle/6.0.1/
ProtoBot/PositionClosedLoop/.gradle/buildOutputCleanup/
ProtoBot/PositionClosedLoop/build/
Renegade/Tests/PositionClosedLoop/.gradle/6.0.1/
Renegade/Tests/PositionClosedLoop/.gradle/buildOutputCleanup/
Renegade/Tests/PositionClosedLoop/build/
SolarBot/PursueRectangle/safety/
SolarBot/PursueRectangle/temp/
SolarBot/PursueRectangle-Imported/
SteamBot/build/
SteamBot/.gradle/
