SteamBot-Imported/gradle/wrapper/gradle-wrapper.jar
Samples/Potentiometer-PID/
SteamBot-Imported-2/
SteamBot-Imported/temp/
SteamBot-Imported2/
ProtoBot/RotateToAngle-Imported2/
LucidoBoard/VelocityClosedLoop/.gradle/6.0.1/
LucidoBoard/VelocityClosedLoop/.gradle/buildOutputCleanup/
LucidoBoard/VelocityClosedLoop/build/
